
{{# partial "titulo" }}
    <title>Login - GeSoc</title>
{{/partial}}

{{# partial "contenido"}}
        <div class="login">
            <div class="row">
                <div class="col-md-3" style="margin-bottom: 2em;">
                    <h2 class="text-primary" style="padding-left: 45%;">Log In</h2>
                    {{#if error}}
                    <p class="text-danger"> Error: Usuario o contraseña invalidos </p>
                    {{/if}}
                </div>
            </div>
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label style="font-size: large; padding-left: 35%;">Usuario</label>
                            <input name="username" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label style="font-size: large; padding-left: 30%;">Contraseña</label>
                            <input name="password" type="password" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-left: 7.5%;">
                        <div class="form-group">
                            <input class="btn btn-block" type="submit" value="Log-In"/>
                        </div>
                    </div>
                </div>
            </form>            
        </div>
{{/partial}}
{{> layout.html.hbs}}