<html>
    <body>
        <p> Usted tiene {{cantidad}} mensajes: </p>
        <p>
            {{#mensajes}}
                {{detalle}}
            {{/mensajes}}
        </p>
    </body>
</html>