
{{# partial "titulo" }}
    <title>{{#if unread}}({{unread}}) {{/if}}Mensajes</title>
{{/partial}}

{{# partial "contenido"}}
    <div class="container">
        <div class="row">
            <div class="col-md-auto" style="margin-bottom: 2em;">
                <h2 class="text-primary" style="padding-left: 45%;">Operaciones</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="list-group">
                            {{#operaciones}}
                            <a href="/operacion/{{id}}" class="list-group-item">
                                #{{id}} - ({{fecha}})
                            </a>
                            {{/operaciones}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.html.hbs}}